[submodule "extern/random123"]
	path = extern/random123
	url = https://github.com/glotzerlab/random123
[submodule "doc/examples"]
	path = doc/examples
	url = https://github.com/glotzerlab/fresnel-examples
[submodule "extern/qhull"]
	path = extern/qhull
	url = https://github.com/glotzerlab/qhull
